In [7]:
from noventis.data_cleaner import NoventisScaler
import seaborn as sb
import pandas as pd
import numpy as np

In [2]:
df = sb.load_dataset('titanic')

In [3]:
scaler = NoventisScaler()
scaler.fit(df)
# scaled_df = scaler.fit_transform(df)

Kolom: 'survived' . Metode terpilih: 'standard'. Alasan: data is bounded within [0,1], standard scaling preserves distribution
Kolom: 'pclass' . Metode terpilih: 'minmax'. Alasan: all values are positive, minmax scaling fits target range [0,1])
Kolom: 'age' . Metode terpilih: 'robust'. Alasan: outlier detected (ratio: 1.5%)
Kolom: 'sibsp' . Metode terpilih: 'power'. Alasan: high skewness (3.69) requires normalization
Kolom: 'parch' . Metode terpilih: 'power'. Alasan: high skewness (2.74) requires normalization
Kolom: 'fare' . Metode terpilih: 'power'. Alasan: high skewness (4.78) requires normalization
All numerical columns are fitted.

In [4]:
scaler.transform(df)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0.000000,1.0,male,-0.166667,1.373636,-0.560253,-0.878820,S,Third,man,True,NaN,Southampton,no,False
1,2.056262,0.0,female,0.277778,1.373636,-0.560253,1.336651,C,First,woman,False,C,Cherbourg,yes,False
2,2.056262,1.0,female,-0.055556,-0.679850,-0.560253,-0.790065,S,Third,woman,False,NaN,Southampton,yes,True
3,2.056262,0.0,female,0.194444,1.373636,-0.560253,1.067352,S,First,woman,False,C,Southampton,yes,False
4,0.000000,1.0,male,0.194444,-0.679850,-0.560253,-0.774439,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.000000,0.5,male,-0.027778,-0.679850,-0.560253,-0.294907,S,Second,man,True,NaN,Southampton,no,True
887,2.056262,0.0,female,-0.250000,-0.679850,-0.560253,0.527906,S,First,woman,False,B,Southampton,yes,True
888,0.000000,1.0,female,NaN,1.373636,1.846856,0.288885,S,Third,woman,False,NaN,Southampton,no,False
889,2.056262,0.0,male,-0.055556,-0.679850,-0.560253,0.527906,C,First,man,True,C,Cherbourg,yes,True
890,0.000000,1.0,male,0.111111,-0.679850,-0.560253,-0.812349,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
scaler.fit_transform(df)

Kolom: 'survived' . Metode terpilih: 'standard'. Alasan: data is bounded within [0,1], standard scaling preserves distribution
Kolom: 'pclass' . Metode terpilih: 'minmax'. Alasan: all values are positive, minmax scaling fits target range [0,1])
Kolom: 'age' . Metode terpilih: 'robust'. Alasan: outlier detected (ratio: 1.5%)
Kolom: 'sibsp' . Metode terpilih: 'power'. Alasan: high skewness (3.69) requires normalization
Kolom: 'parch' . Metode terpilih: 'power'. Alasan: high skewness (2.74) requires normalization
Kolom: 'fare' . Metode terpilih: 'power'. Alasan: high skewness (4.78) requires normalization
All numerical columns are fitted.

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0.000000,1.0,male,-0.166667,1.373636,-0.560253,-0.878820,S,Third,man,True,NaN,Southampton,no,False
1,2.056262,0.0,female,0.277778,1.373636,-0.560253,1.336651,C,First,woman,False,C,Cherbourg,yes,False
2,2.056262,1.0,female,-0.055556,-0.679850,-0.560253,-0.790065,S,Third,woman,False,NaN,Southampton,yes,True
3,2.056262,0.0,female,0.194444,1.373636,-0.560253,1.067352,S,First,woman,False,C,Southampton,yes,False
4,0.000000,1.0,male,0.194444,-0.679850,-0.560253,-0.774439,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.000000,0.5,male,-0.027778,-0.679850,-0.560253,-0.294907,S,Second,man,True,NaN,Southampton,no,True
887,2.056262,0.0,female,-0.250000,-0.679850,-0.560253,0.527906,S,First,woman,False,B,Southampton,yes,True
888,0.000000,1.0,female,NaN,1.373636,1.846856,0.288885,S,Third,woman,False,NaN,Southampton,no,False
889,2.056262,0.0,male,-0.055556,-0.679850,-0.560253,0.527906,C,First,man,True,C,Cherbourg,yes,True
890,0.000000,1.0,male,0.111111,-0.679850,-0.560253,-0.812349,Q,Third,man,True,NaN,Queenstown,no,True