In [15]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

print('Successfully imported modules from data_cleaner!')

Successfully imported modules from data_cleaner!

In [16]:
from noventis.data_cleaner import NoventisEncoder
import pandas as pd
import seaborn as sb

In [17]:
df = sb.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [18]:
X = df.drop(columns=['alone'], axis=1)
y = df['alone']

In [20]:
encoder = NoventisEncoder(
    target_column='alone'
    cv_folds=2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3433116489.py, line 2)

In [21]:
# Fit dan transform
X_encoded = encoder.fit_transform(X, y)

# Lihat informasi encoding
encoding_info = encoder.get_encoding_info()
print(encoding_info)

============================================================
🚀 NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
📊 Analyzed 7 categorical columns

⚠️  MANUAL INTERVENTION RECOMMENDED for 'who':
   - High correlation with target (0.451)
   - Consider using ordinal encoding with proper ordering
   - Sample values: ['man', 'woman', 'child']
   - Falling back to target encoding for now

TypeError: TargetEncoder.__init__() got an unexpected keyword argument 'cv'