In [1]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

print('Successfully imported modules from data_cleaner!')

Successfully imported modules from data_cleaner!

In [2]:
import pandas as pd
import numpy as np
from noventis import data_cleaner


sample_data = {
    'age': [25, 30, np.nan, 45, 50, 200, 28, 35, 29],
    'salary': [50000, 60000, 75000, 80000, 55000, 65000, 90000, np.nan, 72000],
    'city': ['Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Medan', 'Bandung', 'Jakarta'],
    'education': ['S1', 'S2', 'S1', 'S3', 'S1', 'S2', 'S1', np.nan, 'S1'],
    'satisfaction': [8, 9, 7, 9, 8, 3, 7, 8, 9] # Kolom target
}
df = pd.DataFrame(sample_data)

print("Raw Data:")
df.head()

Raw Data:

    age   salary      city education  satisfaction
0  25.0  50000.0   Jakarta        S1             8
1  30.0  60000.0   Bandung        S2             9
2   NaN  75000.0   Jakarta        S1             7
3  45.0  80000.0  Surabaya        S3             9
4  50.0  55000.0   Bandung        S1             8

In [3]:
from noventis.data_cleaner import NoventisEncoder
import pandas as pd
import seaborn as sb

In [4]:
# df = sb.load_dataset('titanic')
df.head()

    age   salary      city education  satisfaction
0  25.0  50000.0   Jakarta        S1             8
1  30.0  60000.0   Bandung        S2             9
2   NaN  75000.0   Jakarta        S1             7
3  45.0  80000.0  Surabaya        S3             9
4  50.0  55000.0   Bandung        S1             8

In [5]:
X = df.drop(columns=['satisfaction'], axis=1)
y = df['satisfaction']

In [7]:
encoder = NoventisEncoder(
    target_column=y,
    cv=2)

In [8]:
X_encoded = encoder.fit_transform(X, y)

encoding_info = encoder.get_encoding_info()
print(encoding_info)

============================================================
ðŸš€ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
ðŸ“Š Analyzed 2 categorical columns


ðŸ“‹ ENCODING SUMMARY
----------------------------------------
   OHE: 2 columns

ðŸ“Š DETAILED COLUMN ANALYSIS
----------------------------------------
   city:
      Method: OHE
      Unique values: 4
      Target correlation: 0.000
      Memory impact: 0.0 MB

   education:
      Method: OHE
      Unique values: 3
      Target correlation: 0.082
      Memory impact: 0.0 MB

============================================================
ðŸ”„ Transforming data...
âœ… Successfully transformed 0 columns
{'method': 'auto', 'learned_columns': {'city': 'ohe', 'education': 'ohe'}, 'encoding_stats': {'city': {'method': 'ohe', 'original_cardinality': 4, 'correlation': np.float64(0.0), 'memory_impact': 0.000274658203125}, 'education': {'method': 'ohe', 'original_cardinality': 3, 'correlation': np.float64(0.08164965809277293), 'memory_impact': 0.00020599365234375}}, 'column_info': {'city': {'unique_count': 4, 'missing_ratio': np.float64(0.0), 'correlation_with_target': np.float64(0.0), 'ohe_memory_mb': 0.000274658203125, 'recommended_encoding': 'ohe', 'sample_values': {'Jakarta': 4, 'Bandung': 3, 'Surabaya': 1}}, 'education': {'unique_count': 3, 'missing_ratio': np.float64(0.1111111111111111), 'correlation_with_target': np.float64(0.08164965809277293), 'ohe_memory_mb': 0.00020599365234375, 'recommended_encoding': 'ohe', 'sample_values': {'S1': 5, 'S2': 2, 'S3': 1}}}, 'is_fitted': True}

#### Uji coba category_encoders

In [9]:
encoder = NoventisEncoder(
        method='target',
        target_column='survived',
        verbose=True
    )
    
X_transformed = encoder.fit_transform(X, y)

# Tampilkan Hasil
print("\n--- Hasil Transformasi dengan Target Encoding ---")
print("Contoh data setelah di-encode (5 baris pertama):")
print(X_transformed.head())

============================================================
ðŸš€ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================

ðŸ“‹ ENCODING SUMMARY
----------------------------------------
   TARGET: 7 columns

ðŸ“Š DETAILED COLUMN ANALYSIS
----------------------------------------
   sex:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   embarked:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   class:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   who:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   deck:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   embark_town:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

   alive:
      Method: TARGET
      Unique values: N/A
      Target correlation: 0.000

============================================================
ðŸ”„ Transforming data...
âœ… Successfully transformed 7 columns

--- Hasil Transformasi dengan Target Encoding ---
Contoh data setelah di-encode (5 baris pertama):
   survived  pclass   age  sibsp  parch     fare  adult_male  \
0         0       3  22.0      1      0   7.2500        True
1         1       1  38.0      1      0  71.2833       False
2         1       3  26.0      0      0   7.9250       False
3         1       1  35.0      1      0  53.1000       False
4         0       3  35.0      0      0   8.0500        True

   sex_target_encoded  embarked_target_encoded  class_target_encoded  \
0            0.712143                 0.610237              0.659769
1            0.401915                 0.506550              0.505101
2            0.401915                 0.610237              0.659769
3            0.401915                 0.610237              0.505101
4            0.712143                 0.610237              0.659769

   who_target_encoded  deck_target_encoded  embark_town_target_encoded  \
0            0.763275             0.645290                    0.610237
1            0.447087             0.376623                    0.506550
2            0.447087             0.645290                    0.610237
3            0.447087             0.376623                    0.610237
4            0.763275             0.645290                    0.610237

   alive_target_encoded
0              0.681109
1              0.476991
2              0.476991
3              0.476991
4              0.681109