In [1]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

print('Successfully imported modules from data_cleaner!')

Successfully imported modules from data_cleaner!

In [4]:
from noventis import data_cleaner
import pandas as pd

In [7]:
df_raw = pd.read_csv('diamonds.csv') # Atau gunakan DataFrame langsung
df_raw.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [9]:
df_raw.columns = df_raw.columns.str.replace(r'[^A-Za-z0-9_]+', '_', regex=True)
df_raw.columns

Index(['Unnamed_0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [12]:
df_raw.head()

   Unnamed_0  carat      cut color clarity  ...  table  price     x     y     z
0          1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1          2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2          3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3          4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4          5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

In [13]:
print("Ukuran dataframe awal:", df_raw.shape)

Ukuran dataframe awal: (53940, 11)

In [14]:
df = data_cleaner(
        data=df_raw,
        target_column='cut'
)

Target column 'cut' identified.
STARTING NOVENTIS DATA CLEANER PIPELINE
==================================================

Executing Step: IMPUTE...

ðŸ“‹======================= IMPUTATION SUMMARY =======================ðŸ“‹
Method                    | AUTO
Total Values Imputed      | 0
Completion Score          | 100.00%
====================================================================
Step IMPUTE Complete.

Executing Step: OUTLIER...

ðŸ“‹======================= OUTLIER HANDLING SUMMARY =======================ðŸ“‹
Method                    | AUTO
Total Rows Removed        | N/A
Data Retained Score       | N/A
========================================================================
Step OUTLIER Complete.

Executing Step: ENCODE...
============================================================
ðŸš€ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
ðŸ“Š Analyzed 2 categorical columns


ðŸ“‹ ENCODING SUMMARY
----------------------------------------
   OHE: 2 columns

ðŸ“Š DETAILED COLUMN ANALYSIS
----------------------------------------
   color:
      Method: OHE
      Unique values: 7
      Target correlation: 0.031
      Memory impact: 2.0 MB

   clarity:
      Method: OHE
      Unique values: 8
      Target correlation: 0.115
      Memory impact: 2.3 MB

============================================================
ðŸ”„ Transforming data...
âœ… Successfully transformed 0 columns
Step ENCODE Complete.

Executing Step: SCALE...

ðŸ“‹ SCALING SUMMARY
----------------------------------------
   - ROBUST: 10 columns
   - POWER: 7 columns
   - STANDARD: 6 columns

ðŸ“Š DETAILED REPORT
----------------------------------------
  Column: Unnamed_0
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.03 | Outlier Ratio: 0.00%
  Column: carat
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.58 | Outlier Ratio: 0.00%
  Column: depth
     - Method: ROBUST
     - Reason: Outliers (ratio: 1.1%)
     - Skewness: 0.27 | Outlier Ratio: 1.08%
  Column: table
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.26 | Outlier Ratio: 0.00%
  Column: price
     - Method: ROBUST
     - Reason: Outliers (ratio: 3.3%)
     - Skewness: 1.20 | Outlier Ratio: 3.29%
  Column: x
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.24 | Outlier Ratio: 0.00%
  Column: y
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.24 | Outlier Ratio: 0.00%
  Column: z
     - Method: STANDARD
     - Reason: Default fallback
     - Skewness: 0.24 | Outlier Ratio: 0.00%
  Column: color_D
     - Method: POWER
     - Reason: High skewness (2.19)
     - Skewness: 2.19 | Outlier Ratio: 13.06%
  Column: color_E
     - Method: ROBUST
     - Reason: Outliers (ratio: 17.8%)
     - Skewness: 1.68 | Outlier Ratio: 17.82%
  Column: color_F
     - Method: ROBUST
     - Reason: Outliers (ratio: 17.8%)
     - Skewness: 1.68 | Outlier Ratio: 17.79%
  Column: color_G
     - Method: ROBUST
     - Reason: Outliers (ratio: 22.4%)
     - Skewness: 1.32 | Outlier Ratio: 22.42%
  Column: color_H
     - Method: ROBUST
     - Reason: Outliers (ratio: 15.1%)
     - Skewness: 1.95 | Outlier Ratio: 15.07%
  Column: color_I
     - Method: POWER
     - Reason: High skewness (2.85)
     - Skewness: 2.85 | Outlier Ratio: 9.08%
  Column: color_J
     - Method: POWER
     - Reason: High skewness (4.25)
     - Skewness: 4.25 | Outlier Ratio: 4.76%
  Column: clarity_I1
     - Method: POWER
     - Reason: High skewness (11.66)
     - Skewness: 11.66 | Outlier Ratio: 0.72%
  Column: clarity_IF
     - Method: POWER
     - Reason: High skewness (4.85)
     - Skewness: 4.85 | Outlier Ratio: 3.77%
  Column: clarity_SI1
     - Method: ROBUST
     - Reason: Outliers (ratio: 23.9%)
     - Skewness: 1.22 | Outlier Ratio: 23.93%
  Column: clarity_SI2
     - Method: ROBUST
     - Reason: Outliers (ratio: 15.0%)
     - Skewness: 1.96 | Outlier Ratio: 15.05%
  Column: clarity_VS1
     - Method: ROBUST
     - Reason: Outliers (ratio: 15.8%)
     - Skewness: 1.88 | Outlier Ratio: 15.77%
  Column: clarity_VS2
     - Method: ROBUST
     - Reason: Outliers (ratio: 24.3%)
     - Skewness: 1.20 | Outlier Ratio: 24.27%
  Column: clarity_VVS1
     - Method: POWER
     - Reason: High skewness (3.36)
     - Skewness: 3.36 | Outlier Ratio: 7.04%
  Column: clarity_VVS2
     - Method: POWER
     - Reason: High skewness (2.77)
     - Skewness: 2.77 | Outlier Ratio: 9.44%
============================================================
Step SCALE Complete.

PIPELINE FINISHED
==================================================

====================== DATA QUALITY REPORT ======================
  Final Quality Score: 51.67/100
     - Completeness Score                 : 100.00     (Weight: 40%)
     - Data Consistency Score             : 0.00       (Weight: 0%)
     - Distribution Quality Score         : 58.37      (Weight: 20%)
     - Dimensionality Efficiency Score    : 0.00       (Weight: 10%)

--- PIPELINE PROCESS SUMMARY ---
  - Imputation: Successfully filled 0 missing values.
  - Outliers: Removed 16030 rows identified as outliers.
  - Encoding: Transformed 2 categorical columns into 15 new features.
  - Scaling: Standardized the scale for 23 numerical columns.

=================================================================

In [15]:
df.shape

(37910, 23)